

<section *ngIf="producto" >

  <header [ngStyle]= "{ 'background-image': 'url(\'' + producto.url + '\')'}"

  
    class="rk-portfolio-cover  item-inside-1">
    
    </header>
   

    <a name="arriba"></a>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">{{producto.subtitulo1}}</h2>
        </div>
        
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
           <h3>Contactos para Servicio de Delivery al: </h3> 
      <h6 style="color: blue;"><u><a href="tel:+931865370"> Dale Clic al este enlace para llamar directamente 931865370</a></u></h6>
       <h6>O dale Clic aquí al logo del Fono Chaski y Envíanos un mensaje de WhatsApp</h6>
      <h6> <a href="https://wa.me/51992121765?text=Quiero%20realizar%20pedido%20de%20delivery" target="_blank"><img src="assets/img/chaski.jpg" alt="" /></a>  </h6>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img [src]=" producto.url1"  alt="Urku Portfolio" class="zoom"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-8"><img [src]=" producto.url2" alt="" class="zoom"></div>
        <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
          <h3>Contactos para Servicio de Delivery al: </h3> 
      <h6 style="color: blue;"><u><a href="tel:+931865370"> Dale Clic al este enlace para llamar directamente 931865370</a></u></h6>
       <h6>O dale Clic aquí al logo del Fono Chaski y Envíanos un mensaje de WhatsApp</h6>
      <h6> <a href="https://wa.me/51992121765?text=Quiero%20realizar%20pedido%20de%20delivery" target="_blank"><img src="assets/img/chaski.jpg" alt="" /></a>  </h6>
        </div>

      </div>

    </div>
    
  </section>
